<div class="col-md-4 note-col">
  <a href="#" class="note-card">
    <h4><%= note.title %></h4>
    <% if note.content %>
    <p class="note-paragraph"><%= note.content %></p>
    <% end %>
  </a>
</div>
