<main class="container home">
  <%= render "note_nav.html", feature_name: "Family" %>
  <div class="chat-wrapper feature-card">
    <div id="chat-contents" class="chat-contents">
    </div>
    <%= form_for @message, remote: true, url: "/messages", html: {id: "new-message-form", class: "chat-form"} do |f| %>
    <div class="form-group">
      <%= f.text_field :content, class: "form-control", id: "message-input", placeholder: "Let's chat!", autoFocus: true %>
    </div>
    <% end %>
  </div>
</main>
