<div class="container">
  <div class="row">
    <div id="main-notes">
      <main class="container note">
        <div class="row notes-header">
          <div class="col-md-1 mr-auto">
            <button class="btn btn-primary mr-auto">New</button>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">Notes</h3>
          </div>
          <div class="col-md-1 ml-auto">
            <button class="btn ml-auto">...</button>
          </div>
        </div>
        <div class="row notes-projects">
          <div class="col-md-4 notes-col">
            <a href="#" class="note-card">
              <h4>Just a thought</h4>
              <p>Happy journaling leads to a positive life</p>
            </a>
          </div>
          <div class="col-md-4 note-col">
            <a href="#" class="note-card">
              <h4>Goals</h4>
              <p>What goals can I turn into reality</p>
            </a>
          </div>
          <div class="col-md-4 note-col">
            <a href="#" class="note-card">
              <h4>Another project</h4>
              <p>Need to plan a project</p>
            </a>
          </div>
          <div class="col-md-4 note-col">
            <a href="#" class="note-card">
              <h4>Ideas for a book</h4>
              <p>children's book series with Salty as the main character</p>
            </a>
          </div>
        </div>
      </main>              
    </div><!-- main-content-->
  </div><!--row-->
</div><!--container-->
