#login-form {
  margin: auto;
  padding-left: 30px;
  width: 50%;
}

h3 {
  font-size: 40px;
  padding-bottom: 40px;
  font-weight: 300;
  text-align: center;
}

label {
  text-transform: lowercase;
  font-weight: 300;
  color: #4EC5C1;
  font-size: 20px;
  margin-left: 10px;
}

.form-group input  {
    margin-top: -5px;
}

.btn {
  font-size: 30px;
  color: #C0B283;
  font-weight: 300;
}

.btn:hover {
  color: #4EC5C1;
}
