.navbar {
  width: 100%;
  background-color: #F4F4F4;

  @media(max-width: 34em) {
    background: #30415D;
  }

  #logo {
  font-weight: 300;
  font-size: 35px;
  color: #4EC5C1;
  &:hover {
    color: #C0B283;
  }
  }

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: lowercase;
    font-weight: 300;
  }

  .nav-item {
    padding: 0 1rem;


    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media(max-width: 34em) {
        font-weight: 300;
        color: #C0B283;
      }
    }
  }
}

a {
  color: #4EC5C1;
}

a.navbar-brand {
  font-weight: 300;
  font-size: 35px;
  color: #4EC5C1;
  &:hover {
    color: #C0B283;
  }
}
