<ul class="nav nav-tabs">
  <li role="presentation" class="dropdown">
    <a id="user-settings" class="dropdown-toggle" data-toggle="dropdown" href="#", role="button" aria-haspopup="true" aria-expanded="false">
      <span id="user-name"><%= current_user.name %></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
</ul>
