.message-wrap {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin-bottom: 16px;

  .message-main-content {
    border-radius: 6px;
    padding: 8px;
    background-color: #4EC5C1;
    color: #30415D;
  }

  .message-content {
    p {
      margin-bottom: 0;
      text-align: right;
    }
  }

  .message-user {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #30415D;
    align-self: center;
    display: flex;
    align-content: center;
    justify-content: center;
    

    p {
      text-align: center;
      align-self: center;
      color: #C0B283;
      margin-bottom: 0;
    }
  }

  .message-date {
    font-size: 0.8rem;
    text-align: right;
  }
}

.message-wrap .is-owned {
  margin-left: auto;
  justify-content: flex-end;

  .message-main-content {
    background-color: #C5C1C0;
  }

  .message-user {
    margin-left: 8px;
  }
}
