.home {
  h3 {
    color: #3063A5;
    font-size: 2.0rem;
  }
  .home-header {
    margin-bottom: 3rem;
  }
}

.note-col {
  margin-bottom: 1.5rem;
}

.note-card {
  display: block;
  color: #283c46;
  background-color: #fff;
  box-shadow: 0 1px 2px #aa9c84;
  border-radius: 6px;
  padding: 1.5rem;
  height: 100%;

  &:hover {
    text-decoration: none;
    color: #C0B283;
  }

  h4 {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

main.container {
  margin-top: 4rem;
}

.note-popover {
  width: 250px;
  position: absolute;
  top: 3rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  z-index: 1;
  background-color: #E9E9E9;
  padding: 1rem 1rem 2rem;
}

.is-hidden {
  display: none;
}
