
.today-page {
  font-size: 40px;
  color: #30415D;
  font-family: 'Helvetica';
  font-weight: 300;
  margin-bottom: 50px;
}

.dinner h2 {
  font-family: 'Helvetica';
  font-weight: 300;
}

.events h2 a {
  font-family: 'Helvetica';
  font-weight: 300;
}

.column a:hover {
  text-decoration: none;
  color: #C0B283;
}

.today-appointments {
  font-size: 25px;
  font-style: italic;
  color: #30415D;
}
