#new_recipe {
  width: 70%;
  margin: auto;
}

.links-recipes {
  margin-top: 50px;
  a:hover {
    color: #C0B283;
    text-decoration: none;
  }
}

form.edit_recipe {
  width: 70%;
  margin: auto;
}
