<footer class="footer">

      <ul class="footer-links">
        <li class="links-list"><i class="fa fa-anchor"></i><br><%= link_to 'today', root_path %></li>
        <li class="links-list"><i class="fa fa-camera-retro"></i><br><%= link_to 'calendar', appointments_path %></li>
        <li class="links-list"><i class="fa fa-list-ul"></i><br><%= link_to 'lists', lists_path %></li>
        <li class="links-list"><i class="fa fa-sticky-note"></i><br><%= link_to 'notes', notes_path %></li>
        <li class="links-list"><i class="fas fa-utensils"></i><br><a href="#">Dinner</a></li>
      </ul>

  </footer>
