<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">

      <!-- elements visible all the time -->
      <div class="col-sm-7">
        <%= render 'layouts/navigation/header' %>
      </div>

      <!-- elements will collapse on smaller devices-->
      <div class="container-fluid">
        <%= render 'layouts/navigation/collapsible_elements' %>
      </div>

    </div>
  </div>
</nav>
