<div class="row">
  <nav class="navbar navbar-toggable-md navbar-light">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'simplicity', root_path, class: 'navbar-brand' %>
      </div><!-- navbar-header-->

    <div class="dropdown navbar-right">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <% if user_signed_in? %>
            <span><%= current_user.first_name %></span>
          <% else %>
            menu
          <% end %>
      </button>
      <div class="dropdown-menu">
        <%= render 'layouts/signed_in_links' %>
        <%= render 'layouts/login_links' %>
      </div>

    </div><!-- dropdown-->
  </div>
</div><!-- container -->
